
{% load static %}


{% block content %}

<div class="container">
    
    {% for obj in object_list %}
            
            <div class="caption">
                {% if obj.draft %}
                <h3>Draft</h3> {% endif %} {% if obj.publish > today %}
                <h3> Future Post</h3> {% endif %}
                <h3>{{ obj.title }}
                <br><small>Posted on: {{ obj.publish }} </small></h3>
                <p>{{ obj.content|linebreaks|truncatechars:220 }}</p>
                <p class="bttn"><a class="warning hollow button" href="{{ obj.get_absolute_url }}">Read More</a></p>


            </div>

        <hr>
    {% endfor %}



    <div class="pagination">
                <span class="step-links">
        {% if object_list.has_previous %}
           <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span> {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a> {% endif %}
                </span>
            </div>


</div>
    




{% endblock %}