<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
<form method="POST" action="/profile/">
{% csrf_token %}

<label>First Name:<input type="text" name="first_name" placeholder="your first name" value="{{ user.first_name }}"  >
</label>

<label>Last Name:<input type="text" name="last_name" placeholder="your last name" value="{{ user.last_name }}">
</label>


<label>Username:<input type="text" name="username" placeholder="Username" value="{{ user.username }}">
</label>

<label>Phone Number:<input type="text" name="phone" placeholder="your phone number" value="{{ profile.phone }}">
</label>


<input class="bttn4" type="submit" value="SAVE CHANGES" name="submit">

</form>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Change Password</button>
    </form>
</body>
</html>